<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<nav>
  <a routerLink="/styling" routerLinkActive="active">1.styling</a>
  <a routerLink="/styling/inline" routerLinkActive="active">inline</a>
  <a routerLink="/styling/external" routerLinkActive="active">external</a>
  <a routerLink="/styling/encapsulation-none" routerLinkActive="active">encapsulation-none</a>
  <a routerLink="/styling/encapsulation-native" routerLinkActive="active">encapsulation-native</a>
</nav>

<nav>
  <a routerLink="/hosts" routerLinkActive="active">2.hosts</a>
</nav>

<nav>
  <a routerLink="/transclusion" routerLinkActive="active">3.transclusion</a>
</nav>

<nav>
  <a routerLink="/lifecycle-hooks" routerLinkActive="active">4.lifecycle-hooks</a>
  <a routerLink="/lifecycle-hooks/init-destroy" routerLinkActive="active">init-destroy</a>
  <!-- <a routerLink="/lifecycle-hooks/on-change" routerLinkActive="active">on-change</a> -->
  <a routerLink="/lifecycle-hooks/do-check" routerLinkActive="active">do-check</a>
  <a routerLink="/lifecycle-hooks/all-in" routerLinkActive="active">all-in</a>
</nav>

<nav>
  <a routerLink="/change-detection" routerLinkActive="active">5.change-detection</a>
</nav>

<router-outlet></router-outlet>